body {
    margin: 0;
    background-color: #eff3f6;
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar-profile {
    width: 100%;
    background-color: #2096ef;
    display: flex;
}

.navbar-profile img{
    width: 30px;
    height: 30px;
    margin-top: 20px;
}

.menu-profile {
    margin-left: 30px;
    padding-top: 27px;
    color: white;
    padding-bottom: 27px;
    width: 47%;
}

.menu-profile span {
    margin-right: 40px;
}



a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.active {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #1d61a1;
    border-radius: 5px;
    padding-right: 8px;
    padding-left: 8px;
    margin-left: -10px;
}