doctype html
html(lang='fr')
    head
        meta(charset='UTF-8')
        title Forum
        link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet")
        link(rel='stylesheet', href='css/login.css')
    body
        div(class="container-register")
            div(class="container-title")
                div(class="icon-mail")
                    img(src="icon/sent-mail.png")
                h1 Please sign up.
            div(class="container-login")
                form(method="post")
                    label(for="email") Sign up with your e-mail address
                    input(type="email", name="username", id="email")
                    label(for="fullname") Name
                    input(type="text", name="fullname", id="fullname")
                    label(for="bio") Bio
                    textarea(name="bio", id="bio")
                    label(for="password") Password
                    input(type="password", name="password", id="password")
                    button(type="submit") Sign up to Dashboard
            div(class="social-network")
                h2 Sign up via social networks
                div(class="icon")
                    a(href="")
                        div(class="icon-twitter")
                            img(src="icon/twitter.png")
                    a(href="")
                        div(class="icon-facebook")
                            img(src="icon/facebook.png")
                    a(href="")
                        div(class="icon-pinterest")
                            img(src="icon/pinterest.png")
                    a(href="")
                        div(class="icon-dribbble")
                            img(src="icon/dribbble.png")
            div(class="account")
                a(href="/login") Sign in to Dashboard
            div(class="footer")
